<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showRefuel</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.showRefuel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCar</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.addCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCar</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.editCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCar</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.deleteCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDriver</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.addDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserPassword</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.changeUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>pl.polsl.flota.servlets.deleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showRefuel</servlet-name>
        <url-pattern>/showRefuel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCar</servlet-name>
        <url-pattern>/addCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCar</servlet-name>
        <url-pattern>/editCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCar</servlet-name>
        <url-pattern>/deleteCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDriver</servlet-name>
        <url-pattern>/addDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserPassword</servlet-name>
        <url-pattern>/changeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
